:root {
	--primary: #0070f3;
	--tags: #0061cf;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	text-decoration: none;
	color: var(--primary);
}

* {
	box-sizing: border-box;
	transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
